
::-webkit-scrollbar {
    width: 12px;
	background:rgba(255,255,255,0.8);
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 

}
/* ------------
  Page générale
   ------------ */
body {
	background-image: url('../img/bg.jpg');
	color:white;
	overflow-x:hidden;
}
a {
	text-decoration:none;
	color:yellow;
	}
table {
border:solid 1px white;
}
#manouch a{
	/*text-align:right;*/
	color:white;
	text-decoration:none;
	background-color:#046380;
	border:1px solid black;
	border-radius:5px 10px 5px 10px;
	padding: 5px 5px 5px 5px;
}

#header{
	background-repeat:no-repeat;
	/*margin-right:550px;*/
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.menu {
float:right;
}

.menu a {
	display:inline;
	text-align:center;
	background-color:#555555; /* pour changer la couleur du fond des boutons */
	color:white;
	text-decoration:none;
	padding: 5px 10px 5px 10px;
	margin: 0 2px 0 2px;
}

.menu a:link  {
	text-decoration: none;
}
.menu a:visited {
	text-decoration: none;
	color: #FFFFFE;
}

.menu a:hover {
	text-decoration: none;
	background-color: #CCCCCC; /* pour changer la couleur du fond des boutons au survol de la souris */
}

.menu a:active {
	text-decoration: none;
	color: #FFFFEF;
}




#logo{
	display:block;
	width:100px;
	height:100px;
}
#logo a{
	width:100px;
	height:100px;
}
}
#manouch{
	display:inline;
	border : 1px solid black;
}

#vidi{
	/*
	text-align:center;
	*/
	display:block;
	width:100px;
	height:100px;
}

a.modif{
	width:50px;
	height:50px;
	text-decoration:none;
}

#video p{
	background-color:#A90ED0;

	width:200px;
	height:50px;
	margin-bottom:10px;
}

#com ul.no li {
	background-color:#DDDDDD	;
	width:300px;
	height:50px;
	margin-top:10px;
	margin-bottom:10px;
	border:3px solid #000000;
	border-radius:10px 0px 10px 0px;
	list-style-type: none;
	color: black;
}

#com ul.no{
  padding: 0;
  margin: 0;
  color: black;
}

#com input{
float:right;
}

#com a {
	padding: 0 10px 0 5px;
	text-decoration:none;
	color: gray;
}


.menuBar {
	float: left;
	line-height: 25px;
	width: 100%;
	min-width:800px;
	border: 0;
	border-spacing: 0;
	display: inline;
	padding: 0 10px 0 10px;
	color:white;
	padding: 5px 10px 5px 10px;
	font-size: 20px;
	font-family:Verdana;
	text-align:center;
}

.menuBar td {
	padding: 0;
}
.menuBar p{
float:left;
display: inline;
padding: 5px 10px 5px 10px;

}
.menuBar input{
margin: 5px 10px 5px 10px;

}

.menuBar a {
	display:inline;
	text-align:center;
	background-color:#555555; /* pour changer la couleur du fond des boutons */
	color:white;
	text-decoration:none;
	padding: 5px 10px 5px 10px;
	margin: 0 2px 0 2px;
}

.menuBar a:link {
	text-decoration: none;
}

.menuBar a:visited {
	text-decoration: none;
	color: #FFFFFE;
}

.menuBar a:hover {
	text-decoration: none;
	background-color: #CCCCCC;
}

.menuBar a:active {
	text-decoration: none;
	color: #FFFFEF;
}
#VueProfil {
	text-align:center;
	padding:100px 0px 0px 0px;
}

#VueProfil.table {
	margin-left: auto;
	margin-right: auto;
}
#lecvideo{
text-align:center;
}
#footer{
position:absolute;
bottom:15px;
right:15px;
}
#main{
padding-top:100px;
}
#main ul.index{
margin-left:25%;
list-style-type: none;
	
}
#main ul li{
width:1000px;
height:170px;
margin-top:50px; 
border:1px solid black;
background-color: rgba(152,158,167, 0.5);
}
#main ul li p{
margin-top:0;
}
#main ul li img{
float:left;
}
#description p{
border:black 1px solid;
width:470px;
text-align:left;
height:100px;
background-color:grey;
}
